:root {
--color1: #ede4d0;
--color2: #00d4ff;
--color3: #095179;
--color4: #020024;
;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./img/bg1.jpg) center/cover;
    height: 100vh;
    font-family: "Segoe UI", Tahoma, geneva, Verdana, sans-serif;
    color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.card { 
    background: rgba(2, 0, 36, 0.18);
    width: calc(100% - 50px);
    padding: 20px 20px 6px;
    box-shadow: -5px 5px 16px 0px rgba(0, 0, 0, 0.527);
    border-radius: 10px;
    backdrop-filter: blur(5px);
       
}
.card::before {
    content: "\2730";
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2.5rem;
    }
h1 {
    position:relative ;
  margin-bottom: 24px;  
}
h1::after {
    content: "";
    position: absolute;
    background: var(--color2);
    height: 3px;
    width: 100%;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    animation: h1anim 5s ease-in-out forwards;
}
@keyframes h1anim {
    to { transform: translateX(-50%) scale(1);
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
    
}
.polygon-container {
    
    filter: drop-shadow(6px 6px 10px var(--color2));
    /* Mettre le parent en grid */
    place-self: center;
  }
  .polygon {
     clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background: linear-gradient(226deg, var(--color2) 0%, #020024c2);
    height: 150px;
    width: 150px;
  }
.polygon:after {
    content: "Youri";
    font-size: 1.5rem;
    letter-spacing: 3px;
    /* text-justify: auto; */
    position: absolute;
    color: var(--color1);
    background: #46444cb0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(345deg);
    width: 150px;
    padding: 4px;
    text-align: center;
    /* text-size-adjust: auto; */
}
p {
    line-height: 26px;
    margin: 20px 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
p::selection {
    background:var(--color2);
    color: var(--color3);
}
.checkbox-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 30px;
    perspective: 32px;

}
input[type="checkbox"] {
    display: none;
}
    
input[type="checkbox"]:checked + label {
    background: var(--color2);
    color: var(--color3);


    
}
label {cursor: pointer;
    border: 1px solid var(--color1);
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s;
    user-select: none;
}
label:first-of-type:hover {
    animation: label1 1s infinite linear;
}
@keyframes label1 {
    50% { transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
label:nth-child(4):hover {
    animation: label2 3s infinite linear;
}
@keyframes label2 {
    33% {
        transform:translateZ(30px);
    }
    66% {
        transform:translatez(-40px)
    }
    100% {
        transform:translateZ(0)
    }
}
.email{
        text-align: center;
    margin-bottom: 20px;
}
.e-mail input {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    text-align: center;
    font-size: 1.1rem;
    min-width: 150px;
    width: 35%;
    max-width: 300px;
    border: 3px solid transparent;
    
}
input[type="text"]:focus {
    color: var(--color1) ;
    background: transparent;
    border: 3px solid rgb(217, 220, 247);
    border-radius: 150px;
    filter: drop-shadow(6px 6px 10px var(--color2))
}
input[type="text"]::placeholder {
    color: var(--color3) ;
}
button {
    display: block;
    cursor: pointer;
    background: linear-gradient(226deg, var(--color2) 0%, #020024c2);
    filter: drop-shadow(-6px 6px 5px var(--color2));    
    margin: 20px auto 0;
    border: none;
    border-radius: 150px;
    font-size: 1.5rem;
    padding: 10px 20px;
    user-select: none;
}
button:hover{
    filter: drop-shadow(6px -6px 5px var(--color2));
    background: linear-gradient(45deg, var(--color2) 0%, #020024c2);
}
button:active {
    transform: scale(1.20);
    letter-spacing: 3px;
    font-weight: bolder;
    margin-top: -5px;
    margin-bottom: 5px;
    filter: drop-shadow(0 0px 0px var(--color2));
    color: var(--color3);
    background: radial-gradient(ellipse farthest-corner at center center, #95cada 0%, #ffffff 100%);
    box-shadow: -1px -2px 200px 30px rgba(255,255,255,0.75);   
}
button:hover + a,a:hover {
    opacity:1;
    transform: translateY(0);
    font-weight: bolder;
}
a {
    color:var(--color2);
    text-align: center;
    display: block;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.3s;
}
a:visited {
    color: var(--color4);
    
}
img {
    height: 100px;
    position: absolute;
    z-index: -1;
    animation: oiseau 60s infinite linear;
}
@keyframes oiseau {
    0% {
      top: 2%;
      left: 2%;
      transform: rotate(90deg);
    }
    10% {
      top: 6%;
      left: 30%;
      transform: rotate(95deg);
    }
    20% {
      top: 9%;
      left: 60%;
      transform: rotate(60deg);
    }
    30% {
      top: 0%;
      left: 80%;
      transform: rotate(90deg);
    }
    40% {
      top: 20%;
      left: 120%;
      transform: rotate(130deg);
    }
    50% {
      top: 50%;
      left: 80%;
      transform: rotate(160deg);
    }
    60% {
      top: 90%;
      left: 90%;
      transform: rotate(256deg);
    }
    70% {
      top: 110%;
      left: 50%;
      transform: rotate(237deg);
    }
    80% {
      top: 85%;
      left: 30%;
      transform: rotate(300deg);
    }
    85% {
      top: 50%;
      left: 15%;
      transform: rotate(340deg);
    }
    
    100% {
      top: 2%;
      left: 2%;
      transform: rotate(360deg)}